
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar{
      background-color: #dee3e6;
  }

  .headerProfile{
    display: block;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.example-app-name {
    margin-left: 8px;
  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }


  .mat-nav-list, mat-list-base{
    overflow: hidden;
  }
  .mat-nav-list{
    background-color: #3a4e62;
    color:#a6abae;
  }
  .mat-list-base .mat-list-item .mat-list-item-content, a{
    color:#fff;
  }

  .nav-icon{
    color: #fff;
  }

  .nav-iten{
    color: #fff;
    margin-left: 1.25em;
    font-weight: 300;
  }


  .mat-menu-item {
    color: #dee3e6 !important;
    padding: 0 18px;
  }

  button.mat-menu-item{
    background-color: #3a4e62;

  }

  button.mat-menu-item:hover {
      background-color: #344555;
  }
  /deep/ .mat-menu-content {
    background-color: #3a4e62 !important;
  }

  .logo-reachr{
    width: 150px;
    cursor: pointer;
  }


  .mat-expansion-panel {
    background-color: #3a4e62;
    color: #dee3e6;
  }

  .mat-expansion-panel-header:hover {
    background: #3a4e62 !important;
    color: #dee3e6 !important;
  }

  .mat-expansion-panel-header {
    color: #dee3e6 !important;
    padding: 0 15px;
  }


  .mat-expansion-panel-header-title {
    color: #dee3e6 !important;
  }





