<!--<section class="secao-progress-bar">-->

<!--  <h1>Bem-vindo!</h1>-->
<!--<div>-->
<!--    <p>Preenchendo os dados a seguir você <b>aumenta</b> sua <b>visibilidade</b> e <b>oportunidades</b> no mercado de trabalho.</p>-->
<!--    <mat-progress-bar mode="determinate" value="40" [color]="color"><p>01. Informações básicas</p></mat-progress-bar>-->
<!--    <div style="position:absolute; top: 147px; left: 130px; color: #fff"> {{value}} </div>-->
<!--    <p>Estas são informações essencias para que as empresas avaliem o perfil corretament.</p>-->
<!--</div>-->
<!--</section>-->

<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li class="completed"><a href="javascript:void(0);">01. Informações báicas</a></li>
<!--      <li class="active"><a href="javascript:void(0);">02. Inventario comportamental</a></li>-->
      <li><a href="javascript:void(0);">02. Inventario comportamental</a></li>
      <li><a href="javascript:void(0);">03. Anexar currículo</a></li>
      <li><a href="javascript:void(0);">04. Complementação</a></li>
    </ul>
  </div>
</div>
