<!--<section style="background-color: white">-->
<!--  <div class="container">-->
<!--  <h1>Bem-vindo!</h1>-->
<!--    <div class="row">-->
<!--      <div style="margin-right: auto; margin-left: auto">-->
<!--        <p>Preenchendo os dados a seguir você <b>aumenta sua visibilidade</b> e <b>oportunidades</b> no mercado de trabalho.</p>-->
<!--        <ul class="breadcrumb">-->
<!--          <li routerLinkActive="active" ><a routerLink="/cadastro-express">01. Informações básicas</a></li>-->
<!--          &lt;!&ndash;      <li class="active"><a href="javascript:void(0);">02. Inventario comportamental</a></li>&ndash;&gt;-->
<!--          <li  routerLinkActive="active"><a routerLink="/inventario-comportamental">02. Inventario comportamental</a></li>-->
<!--          <li routerLinkActive="active"><a routerLink="/anexar-curriculo">03. Anexar currículo</a></li>-->
<!--          <li routerLinkActive="active"><a routerLink="/provas">04. Complementação</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</section>-->
<section style="background-color: white">
    <h1 style="padding: 30px 40px">Bem-vindo!</h1>
    <div class="container">

        <div class="description">

            <p>Preenchendo os dados a seguir você <b>aumenta</b> sua <b>visibilidade</b> e <b>oportunidades</b> no mercado de trabalho.</p>
        </div>
        <ul class="breadcrumbs">
            <li routerLinkActive="last active"><a routerLink="/cadastro-express" class="disabled">01. Informações básicas</a></li>
            <li routerLinkActive="last active"><a routerLink="../inventario-comportamental" class="disabled">02. Inventario comportamental</a></li>
            <li routerLinkActive="last active"><a routerLink="/anexar-curriculo" class="disabled">03. Anexar currículo</a></li>
            <li routerLinkActive="last active"><a routerLink="/provas" class="disabled">04. Complementação</a></li>
        </ul>
    </div>
</section>